:root {
    --blue: #4da9ff;
    --light-purple: #e6e6ff;
    --white: #ffffff;
    --yellow: #ffff66;
    --orange: #ffe066;
    --gold: #ffd700;
    --text-black: #000000;
    --text-gray: #404040;
    --divider-gray: #e6e6e6;
    --shadow-color: #b3b3b3;
}

body, .page-wrapper {
    margin: 0;
    height: 100vh;
}

body {
    background-color: var(--light-purple);
}

.page-wrapper {
    display: grid;
    grid-template-columns: .15fr 1fr;
}

.content {
    display: grid;
    grid-template-rows: 0.19fr 1fr;
}

/*Sidebar */

.sidebar {
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.2rem;
}

.sidebar-group-wrapper {
    height: 57%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-group-wrapper>div:first-child {
    font-size: 1.5rem;
}

.sidebar-group-wrapper>div:first-child>img {
    height: 45px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 15px;
}

/* Header */

header {
    background-color: var(--white);
    padding: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 6px var(--shadow-color);
}

.header-top {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.header-bottom {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1.8;
}

.search-bar {
    flex: 1;
    background-color: var(--light-purple);
    border-radius: 12px;
    height: 75%;
}

.header-top-left-container {
    display: flex;
    align-items: center;
    flex: .55;
    gap: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-top-right-container {
    display: flex;
    flex: .45;
    justify-content: end;
    align-items: center;
}

.header-top-right-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
}

.header-top-right-wrapper>img:nth-child(2) {
    height: 50px;
}

.header-bottom-left-container {
    display: flex;
    align-items: center;
    flex: .65;
}

.header-bottom-left-container>div:nth-child(2)>p {
    margin: 0;
}

.header-bottom-left-container>div:nth-child(2)>p:nth-child(2) {
    font-size: 1.5rem;
}

.header-bottom-right-container {
    flex: .35;
    display: flex;
    justify-content: space-evenly;
}

button {
    color: var(--white);
    background-color: var(--blue);
    padding: 6px 24px;
    border-radius: 45px;
    border: 0;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
}

/* Projects */

.projects-container {
    grid-row: 1/3;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-right: 15px;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 22px;
}

.project-card {
    border-radius: 7px;
    box-shadow: inset 7px 0 var(--gold);
    background-color: var(--white);
    padding: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px var(--shadow-color), inset 7px 0 var(--gold);
}

.project-icons-container {
    display: flex;
    justify-content: end;
}

.project-icons-wrapper {
    display: flex;
    gap: 25px;
}

.text-wrapper {
    flex: 3;
}

.text-wrapper>p {
    margin: 0;
}

.icons {
    display: flex;
    justify-content: end;
    flex: 1;
    align-items: center;
}

/* Announcements */

.announcements-container {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto 1fr;
    display: grid;
}

.announcements-card-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 22px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 2px 2px 4px var(--shadow-color);
}

.announcement-card {
    padding: 12px 9px;
    background-color: var(--white);
}

.announcements-card-wrapper>.announcement-card:nth-child(2) {
    box-shadow: inset 0px -2px var(--divider-gray), 0px -2px var(--divider-gray);
}

/* Trending */

.trending-container {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto 1fr;
}

.trending-card-wrapper {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 22px;
    border-radius: 15px;
    gap: 15px;
    background-color: var(--white);
    box-shadow: 2px 2px 4px var(--shadow-color);
}

.trending-card {
    display: flex;
    gap: 6px;
    background-color: var(--white);
}

.trending-card > img {
    height: 50px;
}

.trending-text-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
}

.extra-info {
    display: grid;
    grid-row: 1/3;
    gap: 75px;
}

p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-header-text {
    font-weight: bold;
    margin: 12px 0px;
}

.text-wrapper>p:first-child {
    font-weight: bold;
}

.announcement-card>p:first-child {
    font-weight: bold;
}